# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Environments
.env
venv/
env/

# Django stuff
*.log
*.pot
*.pyc
db.sqlite3
/media/
/staticfiles/
local_settings.py
*.sqlite3

# Visual Studio Code / IDE
.vscode/
.idea/
.history